.works {
  background-color: #131c4e;
    display: flex;
    flex-direction: column;
}


.works h1 {
    text-align: center;
    margin-top: 40px;
    color: white;
}

.main__works {
display: flex;
height: 100%;
align-items: center;
justify-content: space-around;
text-align: center;
}

.father__card--image {
  display: flex;
  justify-content: center;
}

.card-image {
  width: 150px;
  height: 150px;

}

.card-image img {
    width:100%;
    height:100%;
    border-bottom-left-radius:20px;
    border-top-right-radius:20px;
    box-shadow:0 2px 3px rgba(0,0,0,0.5);
    padding: 16px;
  }

  .card {
    padding: 1rem;
    width: 200px;
    height: 330px;
    background: linear-gradient(
        180.2deg,
        #5193f6 -8.53%,
        rgba(16, 14, 128, 0.57) 109.43%
      );;
    border-radius:20px;
    box-shadow:4px 7px 19px rgba(0, 0, 0, 0.56);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card .card-title{
    font-size:1.4rem;
    font-weight:bold;
    margin-top:0.5rem;
  }

  .card .card-subtitle{
    color:hsla(0, 0%, 83%, 1);
    font-size:0.7rem;
    margin-bottom:5px;
  }

  .card .social-links a{
    color:white;
    text-decoration: none;
    padding:0.5rem;
  }

  .card .social-links .icon{
    width:1.2rem;
    transition:transform 0.3s ease-in-out;
  }
  .social-links .icon:hover{
    transform:translatey(-5px);
  }

  .card .learn-btn button{
    background:hsla(0, 0%, 2%, 1);;
    padding:0.7rem 2.5rem;
    font-size:10px;
    color: hsla(0, 0%, 100%, 1);
    border-radius:8px;
    border:none;
    cursor:pointer;
    font-weight:600;
    letter-spacing:1px;
    margin-top:0.2rem;
  }

  .card .learn-btn button a{
   color: white;
   text-decoration: none;
  }


  @media (max-width:1024px) {
      .card {
        padding: 0.8rem;
        width: 200px;
        height: 330px;
        background: linear-gradient(
            180.2deg,
            #5193f6 -8.53%,
            rgba(16, 14, 128, 0.57) 109.43%
          );;
        border-radius:20px;
        box-shadow:4px 7px 19px rgba(0, 0, 0, 0.56);
      }

      .card-image {
        width: 120px;
        height: 120px;
      
      }

      .father__card--image {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     padding-top: 10px;
      }

      .father__card--image img {
        width: 100%;
        height: 100%;
      }

      .card .learn-btn button{
        background:hsla(0, 0%, 2%, 1);;
        padding:0.7rem 2.5rem;
        font-size:10px;
        color: hsla(0, 0%, 100%, 1);
        border-radius:8px;
        border:none;
        cursor:pointer;
        font-weight:600;
        letter-spacing:1px;
        margin-top:0.2rem;
      }

      
  .card .card-title{
    font-size:1.2rem;
    font-weight:bold;
    margin-top:0.5rem;
  }
   }
  
  @media (max-width:900px) {
    .main__works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex-direction: column;
   align-self: center;
      flex-wrap: wrap;
      gap: 20px;
      }
    .card {
      padding: 0.5rem;
      width: 180px;
      height: 180px;
      background: linear-gradient(
          180.2deg,
          #5193f6 -8.53%,
          rgba(16, 14, 128, 0.57) 109.43%
        );;
      border-radius:20px;
      box-shadow:4px 7px 19px rgba(0, 0, 0, 0.56);
      display: flex;
      justify-content: center;
   align-content: center;
    }

    .card-image {
      display: none;
    }

    .card .learn-btn button{
      background:hsla(0, 0%, 2%, 1);;
      padding:0.7rem 2.5rem;
      font-size:10px;
      color: hsla(0, 0%, 100%, 1);
      border-radius:8px;
      border:none;
      cursor:pointer;
      font-weight:600;
      letter-spacing:1px;
      margin-top:0.2rem;
    }

    
.card .card-title{
  font-size:1.2rem;
  font-weight:bold;
  margin-bottom: 20px;
}

  }




  @media (max-width:608px) {

    .main__works {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    
        }
    .card {
      margin-top: 1rem;
      padding: 1rem;
      width: 130px;
      height: 190px;
      background: linear-gradient(
          180.2deg,
          #5193f6 -8.53%,
          rgba(16, 14, 128, 0.57) 109.43%
        );;
      border-radius:20px;
      box-shadow:4px 7px 19px rgba(0, 0, 0, 0.56);
      display: flex;
      position: relative;
    }
.div__projects{
  display: none;
}

.card-subtitle p{
  font-size: 1rem;
}
    

    .father__card--image {
      display: none;
    }
     
      .card .card-title{
        font-size:1rem;
        font-weight:bold;

      }

      .div__works--info{
        display: flex;
        flex-direction: column;
        justify-content: centers;
        align-items: center;
        height: 100%;
      }
      .learn-btn {
        display: flex;
        height: 100%;
        justify-content: flex-end;
      }

      .card .learn-btn button{
        background:rgb(0, 0, 0);
        color: hsla(0, 0%, 100%, 1);
        border:none;
        cursor:pointer;
        font-weight:600;
        letter-spacing:1px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 10px;
        position: absolute;
        bottom: 173px;
    right: 25px;
      }

    

  


      .social-links {
       margin-top: 20px;
       font-size: 2rem;
       position: absolute;
       bottom: 0;
      }
   }